<div class="flex flex-row text-gray-300">
  <div class="flex flex-col m-4 bg-gray-800 rounded-lg">
    <button class="py-2 px-4 m-2 rounded-lg text-lg" *ngFor="let file of files" (click)="handleActiveFile(file)"
      [ngClass]="{'active': file.id === activeFile.id}">
      {{file.name}}
    </button>
  </div>

  <div class="flex flex-col [&>*]:mb-8 mt-8 w-16">
    <button class="bg-red-500 hover:bg-red-600 hover:text-gray-400 rounded-sm transition-all" (click)="onFileDelete()">
      <fa-icon [icon]="faDelete"></fa-icon>
    </button>
    <button class="bg-blue-500 hover:bg-blue-600 hover:text-gray-400 rounded-sm transition-all"
      (click)="onFileUpdate(-1)"><fa-icon [icon]="faArrowUp"></fa-icon></button>
    <button class="bg-blue-500 hover:bg-blue-600 hover:text-gray-400 rounded-sm transition-all"
      (click)="onFileUpdate(1)"><fa-icon [icon]="faArrowDown"></fa-icon></button>
    <label class="bg-green-500 hover:bg-green-600 hover:text-gray-400 rounded-sm transition-all text-center"
      for="file"><fa-icon [icon]="faFile"></fa-icon></label>
    <form (submit)="uploadFile()" enctype="multipart/form-data">
      <input type="file" id="file" name="file" class="hidden" (change)="handleFileInput($event)">
      <button type="submit"
        class="bg-green-500 hover:bg-green-600 hover:text-gray-400 rounded-sm transition-all w-16"><fa-icon
          [icon]="faUpload"></fa-icon></button>
    </form>
  </div>

</div>