<div class="flex flex-col lg:flex-row text-gray-300">
  <div class="flex flex-col m-2 lg:m-4 bg-gray-800 rounded-lg max-h-80 overflow-y-auto scrollbar">
    <button class="py-1 lg:py-2 px-2 lg:px-4 m-1 lg:m-2 rounded-lg text-sm lg:text-lg" *ngFor="let file of files" (click)="handleActiveFile(file)"
      [ngClass]="{'active': file.id === activeFile.id}">
      {{ file.index + 1}}. {{file.name}}
    </button>
  </div>

  <div class="flex flex-row lg:flex-col [&>*]:mb-2 lg:[&>*]:mb-8 mt-4 lg:mt-8 w-full lg:w-16 justify-around lg:justify-start">
    <button class="bg-red-500 hover:bg-red-600 hover:text-gray-400 rounded-sm transition-all p-1 " (click)="onFileDelete()">
      <fa-icon [icon]="faDelete"></fa-icon>
    </button>
    <button class="bg-blue-500 hover:bg-blue-600 hover:text-gray-400 rounded-sm transition-all p-1 "
      (click)="onFileUpdate(-1)"><fa-icon [icon]="faArrowUp"></fa-icon></button>
    <button class="bg-blue-500 hover:bg-blue-600 hover:text-gray-400 rounded-sm transition-all p-1 "
      (click)="onFileUpdate(1)"><fa-icon [icon]="faArrowDown"></fa-icon></button>
    <label class="bg-green-500 hover:bg-green-600 hover:text-gray-400 rounded-sm transition-all p-1 text-center"
      for="file"><fa-icon [icon]="faFile"></fa-icon></label>
    <form (submit)="uploadFile()" enctype="multipart/form-data">
      <input type="file" id="file" name="file" class="hidden" (change)="handleFileInput($event)">
      <button type="submit"
        class="bg-green-500 hover:bg-green-600 hover:text-gray-400 rounded-sm transition-all w-full lg:w-16 p-1"><fa-icon
          [icon]="faUpload"></fa-icon></button>
    </form>
  </div>
</div>