<main class="bg-gray-900 content-center min-h-screen min-w-full overflow-y-hidden text-gray-100">
    <div class="text-center px-4 sm:px-8 md:px-16 lg:px-32 xl:px-64">
        <h1 class="text-white text-5xl sm:text-6xl md:text-7xl lg:text-8xl font-bold tracking-tight">The Next</h1>
        <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-7xl xl:text-8xl text-blue-400 font-bold tracking-tight">Static-Site Generator</h1>
        <div class="flex flex-col sm:flex-row justify-center items-center mt-12 space-y-4 sm:space-y-0 sm:space-x-4">

            @if (!isLoggedIn) {
            <button
                class="rounded-2xl px-6 sm:px-8 md:px-10 hover:px-12 py-2 font-normal border-4 bg-gray-900 hover:bg-gray-800
             border-gray-800 hover:border-blue-600 hover:text-slate-400 focus:bg-gray-950 focus:border-blue-800 text-gray-300 text-xl sm:text-2xl tracking-normal transition-all"
                (click)="handleLoginPressed()">Login</button>
            }
            @else{
            <button
                class="rounded-2xl px-6 sm:px-8 md:px-10 hover:px-12 py-2 font-normal border-4 bg-gray-900 hover:bg-gray-800
             border-gray-800 hover:border-blue-600 hover:text-slate-400 focus:bg-gray-950 focus:border-blue-800 text-gray-300 text-xl sm:text-2xl tracking-normal transition-all mx-5"
                (click)="handleLogoutPressed()">Logout</button>

            <button
                class="rounded-2xl px-6 sm:px-8 md:px-10 hover:px-12 py-2 font-normal border-4 bg-gray-900 hover:bg-gray-800
             border-gray-800 hover:border-blue-600 hover:text-slate-400 focus:bg-gray-950 focus:border-blue-800 text-gray-300 text-xl sm:text-2xl tracking-normal transition-all"
                (click)="handleLoginPressed()">Go to Project Selector</button>
            }

        </div>
    </div>
</main>