<!-- theme-editor.component.html -->
<div class="flex flex-col text-gray-300 scrollbar max-h-96 max-w-fit">
  @if(this.theme.userName === this.userName){
  <div *ngFor="let elementStyle of elementStyles">
    @if (elementStyle.id !== -1) {
    <app-element-style (reloadElementStylesEmitter)="loadElementStyles()" [elementStyle]="elementStyle"
      [isOwn]="this.theme.userName === this.userName"></app-element-style>
    }
  </div>
  <button class="text-xs sm:text-sm md:text-base" (click)="addElementStyle()"><fa-icon [icon]="faPlus"></fa-icon></button>
  }
  @else {
  <div *ngFor="let elementStyle of elementStyles">
    @if (elementStyle.id !== -1) {
    <app-element-style (reloadElementStylesEmitter)="loadElementStyles()" [elementStyle]="elementStyle"
      [isOwn]="this.theme.userName === this.userName"></app-element-style>
    }
  </div>
  }
</div>