<div class="rounded-xl min-w-[12em] px-4 py-5 my-4 bg-gray-950 lg:max-h-20 lg:min-h-20 min-h-32 max-h-32  text-gray-300 flex flex-row justify-between items-center">
    <div class="flex flex-col">
        <h1 class="text-xl">{{ theme.name}}</h1>
    </div>
    <h1 class="text-lg ml-1" [ngClass]="{'text-green-500': theme.isPublic, 'text-gray-500': !theme.isPublic}">{{ theme.isPublic ? "Public" : "Private"}}</h1>

    <div class="*:mx-2 *:rounded-lg *:p-2 *:px-4 *:transition-all">
        <button class="bg-lime-500 text-gray-600 hover:bg-lime-600 hover:text-gray-400" (click)="onThemeSelected()">
            <fa-icon [icon]="faCheck"></fa-icon>
        </button>
        @if(theme.userName === userName){
            <button class="bg-red-500 text-gray-600 hover:bg-red-600 hover:text-gray-400 sm:mt-2" (click)="onThemeDeleted()">
                <fa-icon [icon]="faTrash"></fa-icon>
            </button>
        }
        
    </div>

</div>
