<div class="text-gray-300 min-h-lvh min-w-lvw viewport bg-gray-900  flex flex-col pt-4">
    <div class="flex flex-col md:flex-row justify-between">
        <div>
            <button
  class="rounded-xl ml-3 mb-6 px-5 py-2 font-normal border-2 bg-gray-900 hover:bg-gray-800
  border-gray-800 hover:border-blue-600 hover:text-slate-400 focus:bg-gray-950 focus:border-blue-800 text-gray-300 text-base tracking-normal transition-all"
  (click)="convertProject()">Generate
</button>
<button class="rounded-xl ml-3 mb-6 px-5 py-2 font-normal border-2 bg-gray-900 hover:bg-gray-800
border-gray-800 hover:border-blue-600 hover:text-slate-400 focus:bg-gray-950 focus:border-blue-800 text-gray-300 text-base tracking-normal transition-all" (click)="onThemeChange()">
  Change Theme
</button>
            <div class="justify-end items-end">
                @if (theme.id !== -1) {
                    <app-theme-editor (reloadPreviewEmitter)="previewTrigger()" [theme]="theme"></app-theme-editor>
                }
            </div>
            <div class="justify-end items-end">
                @if (project.id !== -1) {
                    <app-file-list (changeActiveFile)="onChangeActiveFileId($event)" [project]="project"></app-file-list>
                }
            </div>
        </div>

        <div class="preview-field">
            <app-file-preview [themeId]="theme.id" [reloadPreviewEvent]="reloadPreviewEmitter.asObservable()"  [fileId]="activeFileId" ></app-file-preview>
        </div>
    </div>
</div>
